.auth-button {
  color: #102770 !important;
  background-color: #ffeba7 !important;
}

.quiz-panel {
  background-color: #43455c;
  color: #102770;
  height: 200px;
  border-radius: 15px;
}

a {
  font-size: 1.5em;
  text-decoration: none;
  color: #ffeba7;
}

.roadmap-container {
  background-color: #43455c;
  color: white;
  padding: 20px;
  border-radius: 15px;
}

.goal {
  margin-bottom: 20px;
}

.goal h2 {
  color: #eeee;
  cursor: pointer;
  font-size: 24px;
  margin-bottom: 10px;
  border-bottom: 2px solid #ffeba7;
  padding-bottom: 5px;
}

.milestone {
  margin-bottom: 15px;
  padding-left: 20px;
}

.milestone h3 {
  color: #ffeba7;
}

.task {
  margin-bottom: 10px;
}

.task h4 {
  color: #89a5ff;
  margin-bottom: 5px;
  font-size: 18px;
}

.task p {
  color: #ffffff;
  font-size: 16px;
}

/* Interactivity */
.milestone {
  display: none;
}

.goal.active .milestone {
  display: block;
}

/* Styling for better visualization */
h3 {
  color: #666;
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.goal.active .milestone {
  animation: fadeIn 0.5s ease-in-out;
}

.road {
  width: 0%;
  border: 5px dashed #fff;
  /* background-color: black; */
  position: relative;
  left: 3%;
  z-index: -1;
  border-right: none;
  border-spacing: 10px;
  padding: 5% 0;
}

.mile-img {
  width: 5%;
}

.mile-content {
  position: relative;
  z-index: 1;
}
.milestone {
  padding-left: 10%;
}

.pad-content {
  margin: -2% 0;
}

.task-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 30px;
  border-radius: 7px;
  box-shadow: 0px 0px 10px 2px grey;
  cursor: pointer;
}

.modal-body {
  background-color: #152238;
  padding: 6%;
}

.modal-header {
  background-color: #111b2b;
  border-bottom: 1px solid #152238;
}

.modal-footer {
  background-color: #111b2b;
  border-top: 1px solid #152238;
}

.multi-select {
  width: 300px;
}

.select2-dropdown {
  width: 200px !important; /* Set the desired width */
}
.select2-results__options {
  max-height: 100px !important; /* Set the desired height */
}

label {
  padding-left: 0 !important;
}

.select2 {
  padding-left: 0% !important;
}
