body {
  background-color: #181625;
  color: #fff;
  justify-content: center !important;
}

.title-desc {
  background-color: #252641;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rem {
  padding: 2%;
}

.text {
  width: 130%;
}

.desc {
  text-align: justify;
}

.project-img {
  width: 70%;
}

.img {
  text-align: center;
}

.skill {
  background-color: #333eb9;
  background-image: linear-gradient(to right, #225fba, #431fb5);
  border-radius: 10px;
  padding: 8px 15px;
  color: black;
  font-weight: bold;
  color: #fff;
}

.enroll-btn {
  background-color: blue;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 3px;
}

.modal-text {
  color: #181625;
}

.course-img {
  width: 500px;
  height: 250px;
  border-radius: 10px;
  font-family: sans-serif;
}

.cardFlex {
  gap: 15px;
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 30px;
  width: 400px;
  box-shadow: 0px 0px 20px 10px gray;
}
.title-flex {
  gap: 20px;
}

.sub-head {
  font-size: 20px;
  font-weight: 600;
}

.sub-text {
  font-size: 15px;
  font-weight: 400;
}

.skills-container {
  padding-left: 6%;
}
.slim-line {
  border: 0;
  height: 1px;
  background: #333;
  margin: 20px 0;
}

.sub-text-link {
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
}

.desc-container {
  width: 700px;
  text-align: justify;
}
