{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/learning.css') }}">
{% endblock %}
{% block content %}


<div class="container">
    <div class="row mt-3">
        <div class="col-4 me-auto">
            CareerCraft
        </div>
        <div class="col-4 text-end">
            <button class="btn auth-button">
                Leaderboard
            </button>
        </div>
    </div>
    {% if roadmap_object %}
    <div class="container mt-5 roadmap-container">
        <div class="d-flex mile-content pt-3 pb-3">
            <div class="road"></div>
            <div class="pad-content">

                {% for goal in roadmap_object%}
                    <div class="goal ms-2 me-2 mb-5">
                        <div class="d-flex align-items-center">
                            <img src="{{url_for('static',filename='assets/goals.png')}}" alt="" class="mile-img me-3">
                            <h2>{{ goal.title }}</h2>
                        </div>
                        {% for milestone in goal.milestones %}
                            <div class="milestone mt-2">
                                <h3>{{ milestone.title }}</h3>
                                <div class="task">
                                    <ul>
                                        {% for task in milestone.tasks %}
                                            <li>
                                                <h4><strong>-></strong> {{ task.task }}</h4>
                                                <p>{{ task.description }}</p>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="container mt-5">
        <div class="row quiz-panel">
            <div class="text-center align-self-center">
                <a href="{{url_for('activity.quiz', project_id=project_id)}}">Take Quiz to start!</a>
            </div>
        </div>
    </div>
    {% endif %}
    

</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const goals = document.querySelectorAll('.goal');

        goals.forEach(function (goal) {
            goal.querySelector('h2').addEventListener('click', function () {
                goal.classList.toggle('active');
            });
        });
    });
</script>
{% endblock %}