{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/learning.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col-4 me-auto">
            CareerCraft
        </div>
        <div class="col-4 text-end">
            <button class="btn auth-button">
                Leaderboard
            </button>
        </div>
    </div>
    {% if roadmap_object %}
    <div class="container mt-5 roadmap-container">
        <div class="d-flex mile-content pt-3 pb-3">
            <div class="road"></div>
            <div class="pad-content">
                {% for g in range(roadmap_object|length) %}
                <div class="goal ms-2 me-2 mb-5">
                    <div class="d-flex align-items-center">
                        <img src="{{ url_for('static', filename='assets/goals.png') }}" alt="" class="mile-img me-3">
                        <h2>{{ roadmap_object[g].title }}</h2>
                    </div>
                    {% for m in range(roadmap_object[g].milestones|length) %}
                    <div class="milestone mt-2">
                        <h3>{{ roadmap_object[g].milestones[m].title }}</h3>
                        <div class="task">
                            <ul>
                                {% for t in range(roadmap_object[g].milestones[m].tasks|length) %}
                                {% set task_id = "{}-{}-{}".format(g + 1, m + 1, t + 1) %}

                                <li>
                                    <div class="d-flex align-items-center">
                                        {% if progress_data[task_id]==1 %}
                                        <input type="checkbox" class="task-checkbox" data-task-id="{{ task_id }}"checked disabled>
                                        {% else %}
                                        <input type="checkbox" class="task-checkbox" data-task-id="{{ task_id }}">
                                        {% endif %}
                                        <h4><strong>-></strong> {{ roadmap_object[g].milestones[m].tasks[t].task }}
                                            {{ task_id }}</h4>
                                    </div>
                                    <p>{{ roadmap_object[g].milestones[m].tasks[t].description }}</p>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="container mt-5">
        <div class="row quiz-panel">
            <div class="text-center align-self-center">
                <a href="{{ url_for('activity.quiz', project_id=project_id) }}">Take Quiz to start!</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header" data-bs-theme="dark">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Feedback</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row" action="{{ url_for('activity.update_progress')}}" method="POST" id="profileForm">
                    <label class="text-start" for="github_link">GitHub Link</label><br>
                    <input class="form-control mb-3" placeholder="Enter your github profile url" type="text"
                        id="github_link" name="github_link" required><br>
                    <label class="text-start">Description</label>
                    <textarea placeholder="Enter your description" class="form-control mb-3" rows="4" id="description"
                        name="description" required></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modalSubmitBtn">Submit</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const goals = document.querySelectorAll('.goal');

        goals.forEach(function (goal) {
            goal.querySelector('h2').addEventListener('click', function () {
                goal.classList.toggle('active');
            });
        });

        const checkboxes = document.querySelectorAll('.task-checkbox');
        let currentCheckbox = null;

        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                if (this.checked && !this.disabled) {
                    currentCheckbox = this;
                    this.checked = false;
                    const modal = new bootstrap.Modal(document.getElementById('staticBackdrop'));
                    modal.show();

                    document.getElementById('staticBackdrop').addEventListener('hidden.bs.modal', function () {
                        if (currentCheckbox) {
                            currentCheckbox.checked = false;
                            currentCheckbox = null;
                        }
                    }, { once: true });
                }
            });
        });

        document.getElementById('modalSubmitBtn').addEventListener('click', function () {
            if (currentCheckbox) {
                const taskId = currentCheckbox.getAttribute('data-task-id');
                console.log(taskId);
                currentCheckbox.checked = true;
                currentCheckbox.disabled = true;
                updateProgressData(taskId);
                currentCheckbox = null;
                const modal = bootstrap.Modal.getInstance(document.getElementById('staticBackdrop'));
                modal.hide();
            }
        });

        function updateProgressData(taskId) {
            var url = `{{ url_for('activity.update_progress')}}`;
            var project_id = `{{ project_id }}`;
       
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ task_id: taskId , project_id: project_id})
            })
                .then(response => response.json())
                .then(data => {
                    if (!data.success) {
                        console.error('Error updating progress data');
                    }
                });
        }
    });
</script>
{% endblock %}