{% extends "base.html" %}
{% block title %}CareerCraft{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/quiz.css') }}" />
{% endblock %}
{% block content %}
<div class="quiz-container ps-5">
    <div id="quiz-container"></div>
    <div class="buttons d-flex flex-end px-5">
    <button id="next-button" class="btn btn-info fw-bold ms-auto d-flex align-items-center justify-content-between" onclick="nextSection()">
      <p class="mb-0">Next</p>
      <img src="{{url_for('static',filename='assets/right-arrow.png')}}" alt="" class="arrow">
    </button>
    <button id="submit-button" class="btn btn-info fw-bold ms-auto d-flex align-items-center justify-content-between" onclick="submitQuiz()">
      <p class="mb-0">Submit</p>
    </button>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const quizData = JSON.parse('{{data|tojson}}');
    console.log(quizData);

    
let currentSectionIndex = 0;
let userAnswers = {};

function shuffle(array) {
    for (let i = array.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [array[i], array[j]] = [array[j], array[i]];
    }
    return array;
}

function loadSection() {
    const skills = quizData;
    if (currentSectionIndex < skills.length) {
        const skill = skills[currentSectionIndex];
        const questions = shuffle(skill.questions);
        const quizContainer = document.getElementById('quiz-container');
        quizContainer.innerHTML = `<h2 class="section">${skill.skill}</h2><hr class="divider"/>`;
        questions.forEach((q, index) => {
            const allAnswers = shuffle([...q.correct, ...q.wrong]);
            quizContainer.innerHTML += `
                <div class="question">
                    <p class='quest'><strong>${index+1}.</strong> ${q.question}</p>
                    <div class="options row">
                    ${allAnswers.map((answer, i) => `
                        <label class="col-6 mt-3 d-flex align-items-center gap-3">
                            <input type="radio" name="q${index}" value="${answer}" class='large-radio-button'>
                            ${answer}
                        </label>
                    `).join('')}
                    <div class="question">
                </div>
            `;
        });
    } else {
        document.getElementById('next-button').classList.add('hidden');
        document.getElementById('submit-button').classList.remove('hidden');
        document.getElementById('submit-button').classList.add('visible');
    }
}

function nextSection() {
    const skills = quizData;
    const skill = skills[currentSectionIndex];
    const questions = skill.questions;
    userAnswers[skill.skill] = [];
    questions.forEach((q, index) => {
        const selected = document.querySelector(`input[name="q${index}"]:checked`);
        userAnswers[skill.skill].push(selected ? selected.value : null);
    });
    currentSectionIndex++;
    loadSection();
}

document.getElementById('next-button').addEventListener('click', function() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth' // for smooth scrolling
            });
    });

function computeMarks() {
    const marks = [];
    quizData.forEach(skill => {
        const questions = skill.questions;
        const answers = userAnswers[skill.skill];
        let score = 0;
        questions.forEach((q, index) => {
            if (answers[index] && q.correct.includes(answers[index])) score++;
        });
        marks.push({ skill: skill.skill, mark: score });
    });
    return marks;
}

function submitQuiz() {
    const marks = computeMarks();
    console.log(marks); // For testing purposes

    const endpoint = `{{ url_for("activity.process_quiz", project_id = project_id)}}`

    // Send AJAX request
    fetch(endpoint, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(marks)
    })
    .then(response => response.json())
    .then(data => {
        window.location.href = data.redirect;
        console.log('Success:', data);
    })
    .catch((error) => {
        window.location.href = `{{ url_for("activity.learning", project_id = project_id) }}`;
        console.error('Error:', error);
    });
}
document.getElementById('submit-button').classList.add('hidden');
loadSection();

</script>
{% endblock %}